<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis est sapiente maxime commodi incidunt ratione possimus sit corporis aliquam blanditiis debitis, aspernatur, doloremque voluptates et, consectetur quibusdam perspiciatis officiis at.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis est sapiente maxime commodi incidunt ratione possimus sit corporis aliquam blanditiis debitis, aspernatur, doloremque voluptates et, consectetur quibusdam perspiciatis officiis at.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis est sapiente maxime commodi incidunt ratione possimus sit corporis aliquam blanditiis debitis, aspernatur, doloremque voluptates et, consectetur quibusdam perspiciatis officiis at.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>